src/main/mule/topics.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce-analytics="http://www.mulesoft.org/schema/mule/salesforce-analytics" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce-analytics http://www.mulesoft.org/schema/mule/salesforce-analytics/current/mule-salesforce-analytics.xsd">
	<flow name="streaming-api-examples-mule4Flow" doc:id="7a0268df-d489-47ae-8679-7b7a68aeb807" >
		<salesforce:replay-topic-listener doc:name="Replay topic listener" doc:id="a03eeeb5-c96b-46cd-80be-b2f5a03362ab" config-ref="Salesforce_Config" replayOption="ONLY_NEW" topic="ContactTopic"/>
		<logger level="INFO" doc:name="Logger" doc:id="cb96c043-ae08-4b3a-8a58-bd68e362fdec" message='"REPLAY TOPIC"'/>
		<logger level="INFO" doc:name="Logger" doc:id="7b015f34-2298-474e-880b-0c774791771d" message="#[payload]"/>
	</flow>
	<flow name="topicsFlow1" doc:id="fe53ea40-fa07-431f-99a6-7fbd36b8c544" >
		<salesforce:subscribe-topic-listener doc:name="Subscribe topic listener" doc:id="45c10617-be63-4383-a874-077ce052e699" config-ref="Salesforce_Config" topic="ContactTopic"/>
		<logger level="INFO" doc:name="Logger" doc:id="c397dbe6-03f8-4075-8d11-a00f033df74e" message='#["SUBSCRIBE TOPIC"]'/>
		<logger level="INFO" doc:name="Logger" doc:id="f080b67e-6a76-41ee-a957-ae538eed55ea" message="#[payload]"/>
	</flow>
</mule>
